<!DOCTYPE html>
<html>

<head>
    <title>Регистрация - СЛОН ВПН</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🐘</text></svg>">
</head>

<body>
    <div class="main">
        <h1>СЛОН ВПН 🐘</h1>
        <h3>Создание аккаунта</h3>

        {% if error %}
        <div style="color: red; margin-bottom: 15px; padding: 10px; background-color: #ffe6e6; border-radius: 5px;">
            {{ error }}
        </div>
        {% endif %}

        <form action="{{ url_for('register') }}" method="post">
            <label for="username">
                Username:
            </label>
            <input type="text" id="username" name="username" placeholder="Enter your Username" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" 
                placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit">
                    Register
                </button>
            </div>
        </form>
        
        <p>Уже есть аккаунт? 
            <a href="{{ url_for('login') }}" style="text-decoration: none; color: #4CAF50;">
                Вход
            </a>
        </p>
    </div>
</body>

</html>